.skills.section {
  height: 100vh;
  width: 100%;
  background-color: var(--black-background);
  transition: background-color 1s;
}

.section_title {
  padding-top: 17vh;
  text-align: center;
  font-size: 5rem;
  font-family: Poppins sans-serif;
  font-style: italic;
  color: var(--blue);
}

.section_subtitle {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 2rem;
}

.skills_container {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  column-gap: 3rem;
  justify-content: center;
}

.skills_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2.5rem;
}

.skills_group {
  display: grid;
  align-items: flex-start;
  row-gap: 1rem;
}

.skills_content {
  background-color: var(--black);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
}

.skills_title {
  text-align: center;
  font-size: medium;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.skills_data {
  display: flex;
  column-gap: 0.5rem;
}

.check_icon {
  font-size: 1.5rem;
  color: var(--yellow);
}

.skills_name {
  line-height: 18px;
}

@media screen and (max-width: 992px) {
  
  .skills_container {
    grid-template-columns: max-content;
    row-gap: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

}

@media screen and (max-width: 576px) {
  .skills_container{
    grid-template-columns: 1fr;
  }

  .skills_content{
    padding: 1.5rem;
  }

  .section_title{
    padding-top: 15vh;
    font-size: 4rem;
  }

  .section_subtitle{
    font-size: 2rem;
  }

  .skills_title{
    font-size: 2rem;
  }
  .skills_name{
    font-size: 1.5rem;
  }
  .skills_content{
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 350px) {
  .skills_box{
    column-gap: 1.25rem;
  }

  

}
