---
const themes = [
  { key: "light", label: "Light" },
  { key: "dark", label: "Dark" },
  { key: "cyberpunk", label: "Cyberpunk" },
  { key: "forest", label: "Forest" },
  { key: "dracula", label: "Dracula" },
];
---

<div title="Change Theme" class="dropdown dropdown-end">
  <div
    tabindex="0"
    role="button"
    class="btn btn-sm gap-1.5 px-1.5 btn-ghost"
    aria-label="Change Theme"
  >
    <!-- Logo -->
    <div
      class="border-base-content/10 grid shrink-0 grid-cols-2 gap-0.5 rounded-md border p-1"
    >
      <div class="bg-base-content size-1 rounded-full"></div>
      <div class="bg-primary size-1 rounded-full"></div>
      <div class="bg-secondary size-1 rounded-full"></div>
      <div class="bg-accent size-1 rounded-full"></div>
    </div>
    <svg class="w-4 h-4"><use href="#icon-chevron-down"></use></svg>
  </div>
  <div tabindex="0" class="dropdown-content bg-base-300 rounded-box w-32">
    <ul class="menu menu-sm w-full">
      {
        themes.map(({ key, label }) => (
          <li>
            <button
              class="w-full flex items-center gap-2 justify-start"
              data-set-theme={key}
              data-act-class="menu-active"
              type="button"
            >
              <span class="font-[sans-serif]">{label}</span>
            </button>
          </li>
        ))
      }
    </ul>
  </div>
</div>
