---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const footer = t("footer");
---

<footer class="footer py-4 container px-4 md:px-8 lg:px-16 mx-auto">
  <aside class="grid-flow-col items-center">
    <svg class="w-8 h-8">
      <use href="#icon-dev"></use>
    </svg>
    <p>
      Cristian Arando
      <br />
      {footer["thanks"]}
    </p>
  </aside>
  <nav class="justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <a
        aria-label="linkedin link"
        href="https://linkedin.com/in/cristianarando"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="w-8 h-8">
          <use href="#icon-linkedin"></use>
        </svg>
      </a>
      <a
        aria-label="github link"
        href="https://github.com/iamcristian"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="w-8 h-8">
          <use href="#icon-github"></use>
        </svg>
      </a>
      <a
        aria-label="mail link"
        href="mailto:crisarandosyse@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="w-8 h-8">
          <use href="#icon-mail"></use>
        </svg>
      </a>
    </div>
  </nav>
</footer>
