---
export interface Heading {
  slug: string;
  text: string;
  depth: number;
}

const { tableOfContentText } = Astro.props;

const headings = ((Astro.props.headings ?? []) as Heading[]).filter(
  (heading) => heading.depth <= 3,
);
---

{
  headings.length > 0 && (
    <nav class="p-6 rounded-xl border">
      <div class="flex items-center space-x-2 mb-4">
        <svg class="w-5 h-5">
          <use href="#icon-table-of-contents" />
        </svg>
        <h2 class="font-bold">{tableOfContentText}</h2>
      </div>
      <div class="max-h-96 overflow-y-auto">
        <ul class="space-y-2">
          {headings.map((heading) => (
            <li class={`ml-${(heading.depth - 2) * 4}`}>
              <a
                href={`#${heading.slug}`}
                class={heading.depth <= 2 ? "text-sm font-medium" : "text-sm"}
              >
                {heading.text}
              </a>
            </li>
          ))}
        </ul>
      </div>
    </nav>
  )
}
